* {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
  overflow: hidden;
}
.container1 {
  /* background-color: #f5f5fb; */
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.bg-container1 {
  background-image: url("../../assets/Log in.svg");
  /* background-size: 100%; */
  background-repeat: no-repeat;
  height: 100vh;
}
.form1 {
  display: flex;
  justify-content: center;
}

.form-img1 {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  margin-top: 10%;
}
.form-text1 {
  color: #153060;
  font-size: 21px;
  font-weight: 500;
}
.form-card1 {
  max-width: 493.5px;
  max-height: 484.71px;
  padding: 50px 45px;
  border-radius: 8px;
  background-color: white;
  margin-top: 28px;
  box-shadow: 0px 0px 2px rgb(97, 86, 86);
}
.mt-51 {
  margin-top: 20px;
}
.wd1 {
  width: 402px !important;
}
.input1 {
  margin-top: 5px;
  width: 402.99px;
  height: 40.01px;
  border-radius: 4px;
  border: 1px solid #9badca;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 9px;
}
.input1:focus {
  outline: 2px solid #99adce;
}
.password2 {
  font-size: 15px;
}

.parol {
  font-size: 14px;
  color: red;
}
.login-check1 {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}
.empty1 {
  display: flex;
  gap: 10px;
}
.outline-red {
  border-color: red;
}
@media screen and (max-width: 400px) {
  .input1 {
    width: 300px;
  }
  .form-card1 {
    width: 400px;
  }
  .button1 {
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  .input1 {
    width: 300px;
  }
  .button1 {
    width: 300px;
  }
}
